<!--
Html template to render the top menu bar links.
Gets context from 'menu_bar.py' templatetag

context:
{
  'page': 'page passed from urls.py',
  'user': 'the authenticated user'
}
-->
{% load has_perm view_blog_menu %}

<!-- index menu item -->
<li class="nav-item {% if page == 'index' %} active border-bottom {% endif %}" >
  <a
    class="nav-link"
    href="{% if page == 'index' %} # {% else %}
      {% url 'home:index' %}
    {% endif %}"
  />
    Home
    {% if page == 'index' %}
      <span class="sr-only">(current)</span>
    {% endif %}
  </a>
</li>

<!-- topic menu item -->
<li class="nav-item {% if page == 'topic_default' %} active border-bottom {% endif %}">
  <a
    class="nav-link"
    href="{% if page == 'topic_default' %} # {% else %}
      {% url 'home:topic_default' %}
    {% endif %}"
  />
    Topics
    {% if page == 'topic_default' %}
      <span class="sr-only">(current)</span>
    {% endif %}
  </a>
</li>

<!-- article menu item -->
{% view_blog_menu user as view_blog_menu %}
{% has_perm user 'home.view_article' as view_article %}
{% if view_article and view_blog_menu %}
<li class="nav-item {% if page == 'my_blog' %} active border-bottom {% endif %}">
  <a
    class="nav-link"
    href="{% if page == 'my_blog' %} # {% else %}
      {% url 'home:article_default' %}
    {% endif %}"
  />
    My Blog
    {% if page == 'my_blog' %}
      <span class="sr-only">(current)</span>
    {% endif %}
  </a>
</li>
{% endif %}

{% has_perm user 'home.add_article' as add_article %}
{% if add_article %}
<li class="nav-item {% if page == 'article_new' %} active border-bottom {% endif %}">
  <a
    class="nav-link"
    href="{% if page == 'article_new' %} # {% else %}
      {% url 'home:article_new' %}
    {% endif %}"
  />
    New Article
    {% if page == 'article_new' %}
      <span class="sr-only">(current)</span>
    {% endif %}
  </a>
</li>
{% endif %}

<!-- publish article menu item -->
{% has_perm user 'home.publish_article' as publish_article %}
{% if publish_article %}
  <li class="nav-item {% if page == 'publish_article' %} active border-bottom {% endif %}">
    <a
      class="nav-link"
      href="{% if page == 'publish_article' %} # {% else %}
        {% url 'home:publish_article' %}
      {% endif %}"
    />
      Publish Articles
      {% if page == 'publish_article' %}
        <span class="sr-only">(current)</span>
      {% endif %}
    </a>
  </li>
{% endif %}

<!-- users menu item -->
{% has_perm user 'home.add_publisher' as add_publisher %}
{% if add_publisher %}
  <li class="nav-item {% if page == 'users' %} active border-bottom {% endif %}">
    <a
      class="nav-link"
      href="{% if page == 'users' %} # {% else %}
        {% url 'home:user_default' %}
      {% endif %}"
    />
      Users
      {% if page == 'users' %}
        <span class="sr-only">(current)</span>
      {% endif %}
    </a>
  </li>
{% endif %}

<!-- django admin menu item -->
{% if user.is_staff %}
  <li class="nav-item">
    <a
      class="nav-link"
      href="/admin"
    />
      Django Administation
    </a>
  </li>
{% endif %}
