<!--
Html Template for Topics list. Displays a list of topics

context:
{
  'topic_list': 'the list of topics',
}
-->

{% load has_perm %}
{% has_perm user 'home.change_topic' as change_topic %}
{% has_perm user 'home.delete_topic' as delete_topic %}

{% for topic in topic_list %}
    <h2>{{ topic.topic_name }}</h2>
    <p>{{ topic.intro }}</p>

    <p>{% for sub_topic in topic.sub_topics.all %}
      {{ sub_topic }},
    {% endfor %}</p>

    <a
      class="btn btn-primary btn-sm"
      href="{% url 'home:topic_view' topic.id %}"
      role="button"
    >
      View Topic '{{ topic.topic_name }}'
    </a>

    {% if change_topic %}
      <a
        class="btn btn-secondary btn-sm"
        href="{% url 'home:topic_edit' topic.id %}"
        role="button"
      >
        Edit Topic '{{ topic.topic_name }}'
      </a>

      {% if delete_topic %}
        <a
          class="btn btn-danger btn-sm"
          href="{% url 'home:topic_delete' topic.id %}"
          role="button"
        >
          Delete Topic '{{ topic.topic_name }}'
        </a>
      {% endif %}
    {% endif %}

    <hr>
{% endfor %}
