<!--
Html template to edit user. Displays user forms

context:
{
  'form_user': 'User model form',
  'form_profile': 'AppUser form',
  'error_string': 'Error to be displayed',
}
-->
{% if error_string %}
  <!-- display error string -->
  <div class="alert alert-danger role="alert" >
    {{ error_string }}
  </div>
{% endif %}

{% if form_profile.errors or form_user.errors %}
  <!-- Form Alerts -->
  <div class="alert alert-warning role="alert" >
    There were errors found:
    {% if form_profile.errors %}
      {{ form_profile.non_field_errors }}
    {% elif form_user.errors %}
      {{ form_user.non_field_errors }}
    {% endif %}
  </div>
{% endif %}
  
<form 
  action="{% url 'home:user_profile_edit' %}" 
  method="post"
  enctype=multipart/form-data
>
  {% csrf_token %}

  <!-- User Model Attributes -->
  {% for field in form_user.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      <small class="form-text text-danger">
        {{ field.errors }}
      </small>
    </div>
  {% endfor %}

  <!-- AppUser Model Attributes -->
  {% for field in form_profile.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      <small class="form-text text-danger">
        {{ field.errors }}
      </small>
    </div>
  {% endfor %}
    
  <!-- User Avator -->
  <div class="custom-file mt-2 mb-3">
    <input
      type="file"
      class="custom-file-input"
      id="{{form_profile.avatar.id_for_label}}"
      name="{{form_profile.avatar.html_name}}"
    >
    <label 
      class="custom-file-label" 
      for="{{form_profile.avatar.id_for_label}}"
    >
      Choose {{form_profile.avatar.name.capitalize}}
    </label>
  </div>

  <!-- Buttons -->
  <div class="p-3 border-top border-primary">
    <button type="submit" class="btn btn-primary">
      Save
    </button>
    <a
      class="btn btn-secondary"
      role="button"
      href="{% url 'home:user_profile' %}"
    >
      Cancel
    </a>
  </div>

</form>
