<!--
Html template to view and edit user profile

context:
{
  'page': 'page passed from urls.py',
}
-->
{% extends "home/base.html" %}

{% block title %}
  {% if page == 'user_profile' or page == 'user_profile_edit' %}
    Profile
  {% else %}
    Users
  {% endif %}
{% endblock %}

{% block menubar_links %}
  {% load menu_bar %}
  {% menu_bar %}
{% endblock %}

{% block content %}
  <div class="container p-3">

    <div class="row mt-5">
      {% if page == 'user_profile' or page == 'user_profile_edit' %}
      <!-- side menu -->
      <div class="col-3">
        <div class="card shadow">
          <div class="card-header bg-primary text-light">
            Side Menu
          </div>
          <ul class="list-group list-group-flush">
            <a 
              href="{% url 'home:user_profile' %}" 
              class="list-group-item 
              {% if page != 'user_profile' %}
              bg-light text-primary
              {% endif %}"
            >
              View Profile
            </a>
            
            <a 
              href="{% url 'home:user_profile_edit' %}" 
              class="list-group-item 
              {% if page != 'user_profile_edit' %}
              bg-light text-primary
              {% endif %}"
            >
              Edit Profile
            </a>
            
            {% if user.author or user.subscriber %}
            <li
              class="list-group-item 
              {% if page != 'page_unknown' %}
              bg-light text-primary
              {% endif %}"
            >
              My Subscription
            </li>
            {% endif %}
            
            <li
              class="list-group-item 
              {% if page != 'page_unknown' %}
              bg-light text-primary
              {% endif %}"
            >
              Change Password
            </li>
          </ul>
        </div>
      </div>
      {% endif %}
      
      <!-- main body -->
      <div class="col">
        {% if page == 'user_profile_edit' %}
          {% include 'home/account_edit.html' %}
        {% else %}
          {% include 'home/account_view.html' %}
        {% endif %}
      </div>
    </div>

  </div>
{% endblock %}
