<!--
Html template to view and edit user profile

context:
{
  'page': 'page passed from urls.py',
}
-->
{% extends "home/base.html" %}

{% block title %}
  {% if page == 'user_profile' or page == 'user_profile_edit' %}
    Profile
  {% else %}
    Users
  {% endif %}
{% endblock %}

{% block menubar_links %}
  {% load menu_bar %}
  {% menu_bar %}
{% endblock %}

{% block content %}
  <div class="container p-3">

    <div class="row mt-5">
      {% load side_menu %}
      {% render_side_menu page as render_side_menu %}
      
      {% if render_side_menu %}
      <!-- side menu -->
      <div class="col-3">
        {% side_menu %}
      </div>
      {% endif %}
      
      <!-- main body -->
      <div class="col">
        {% if page == 'user_profile_edit' %}
          {% include 'home/account_edit.html' %}
        {% elif page == 'password_change' %}
          {% include 'home/password_change.html' %}
        {% elif page == 'password_change_done' %}
          {% include 'home/password_change_done.html' %}
        {% else %}
          {% include 'home/account_view.html' %}
        {% endif %}
      </div>
    </div>

  </div>
{% endblock %}
