<div class="container my-5 border border-dark rounded shadow p-2 bg-white">
  <form action="{% if page == 'article_new' %} {% url 'home:article_new' %}
    {% elif page == 'article_edit' %} {% url 'home:article_edit' article.id %}
    {% endif %}" method="post" id="new-article-form" autocomplete="off"
  />
    {% csrf_token %}

    <div class="form-group">
      <label for="{{ form.topic.id_for_label }}">{{ form.topic.label }}</label>
      {{ form.topic }}
      <small class="form-text text-danger">
        {{ form.topic.errors }}
      </small>
    </div>
    <div class="form-group">
      <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
      {{ form.title }}
      <small class="form-text text-danger">
        {{ form.title.errors }}
      </small>
    </div>
    <div id="content-div">
      <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
      {{ form.content }}
    </div>  

    <div class="d-flex bd-highlight p-3">
      <button type="submit" class="btn btn-success" id="save-btn">
        Save
      </button>
      <a
        id="new-cancel-btn"
        class="btn btn-secondary ml-1"
        role="button"
        href="{% url 'home:article_default' %}"
      />
        Cancel
      </a>
      
      <button type="submit" class="btn btn-primary ml-auto" id="preview-btn"> 
        Preview
      </button>
    </div>
  </form>
</div>
