{% extends "home/base.html" %}

{% block title %}Publish{% endblock %}

{% block menubar_links %}
  {% load menu_bar %}
  {% menu_bar %}
{% endblock %}

{% block content %}
  <div class="container p-3">
  {% if page == 'publish_article' %}
    {% for article in article_list %}
      <h2>{{ article.title }}</h2>
      <p>{{ article.publish_date }}</p>
      <a
        class="btn btn-primary btn-sm ml-auto"
        role="button"
        href="{% url 'home:article' article.id %}"
      >
        View Article
      </a>
      <hr>
    {% endfor %}
  {% else %}
    {% include 'home/article_confirmation.html' %}
  {% endif %}
  </div>
{% endblock %}
