{{ article.title }} <br>
{{ article.topic }} <br>
{{ article.content }} <br>
{{ article.updated_date_time }} <br>
{{ article.created_date_time }} <br>
Draft? {{ article.draft }} <br>
<div class="">
{% if article.publisher is None %}  
  <a
    class="btn btn-secondary btn-sm ml-auto"
    role="button"
    href="{% url 'home:article_edit' article.id %}"
  >
    Edit Article
  </a>
  <a
    class="btn btn-danger btn-sm ml-auto"
    role="button"
    href="{% url 'home:article_delete' article.id %}"
  >
    Delete Article
  </a>
{% endif %}

{% if article.draft %}
  <a
    class="btn btn-success btn-sm ml-auto"
    role="button"
    href="{% url 'home:article_publish' article.id %}"
  >
    Request Publish
  </a>
{% endif %}

{% load has_perm %}
{% has_perm user 'home.publish_article' as publish_article %}

{% if publish_article %}
  <a
    class="btn btn-success btn-sm ml-auto"
    role="button"
    href="{% url 'home:publish_article_id' article.id %}"
  >
    Publish Article
  </a>
{% endif %}
</div>
