<div class="d-flex bd-highlight mb-3  p-3 border-bottom border-primary">
  <a
    class=" mr-2 btn {% if page == 'my_blog' %}
      btn-primary
    {% else %}
      btn-secondary
    {% endif %}"
    role="button"
    href="{% url 'home:article_default' %}"
  >
    My Blog
  </a>
  <a
    class="mr-2 btn {% if blog_filter == 'published' %}
      btn-primary
    {% else %}
      btn-secondary
    {% endif %}"
    role="button"
    href="{% url 'home:article_filter' 'published' %}"
  >
    Published
  </a>
  <a
    class="btn {% if blog_filter == 'pending' %}
      btn-primary
    {% else %}
      btn-secondary
    {% endif %}"
    role="button"
    href="{% url 'home:article_filter' 'pending' %}"
  >
    Pending
  </a>
  <a
    class="btn btn-primary ml-auto"
    role="button"
    href="{% url 'home:article_new' %}"
  >
    Write Article
  </a>
</div>

{% if blog_published is not None%}
  <h1>Published Articles</h1>
  <hr>
{% endif %}
{% for article in blog_published %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.publish_date }}</p>
    <a
      class="btn btn-primary btn-sm ml-auto"
      role="button"
      href="{% url 'home:article' article.id %}"
    >
      View Article
    </a>
{% endfor %}

{% if blog_pending is not None%}
  <h1>Pending Articles</h1>
  <hr>
{% endif %}
{% for article in blog_pending %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.created_date_time }}</p>

    {% if not article.draft %}
      <small>Pending to publish</small><br>
    {% endif %}
    <a
      class="btn btn-primary btn-sm ml-auto"
      role="button"
      href="{% url 'home:article' article.id %}"
    >
      View Article
    </a>
    <a
      class="btn btn-secondary btn-sm ml-auto"
      role="button"
      href="{% url 'home:article_edit' article.id %}"
    >
      Edit Article
    </a>
    <a
      class="btn btn-danger btn-sm ml-auto"
      role="button"
      href="{% url 'home:article_delete' article.id %}"
    >
      Delete Article
    </a>

    {% if article.draft %}
      <a
        class="btn btn-success btn-sm ml-auto"
        role="button"
        href="{% url 'home:article_publish' article.id %}"
      >
        Request Publish
      </a>
    {% endif %}

    <hr>
{% endfor %}
