<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  {% load static %}
  
  {% block theme %}
  <!-- Bootstrap CSS -->
  <!--
  <link rel="stylesheet" href="{% static 'home/bootstrap/dist/css/bootstrap.min.css' %}">
  -->
  <link rel="stylesheet" href="{% static 'home/themes/purple.min.css' %}">
  <!-- style css -->
  {% endblock %} 
      
  <!-- font awsome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  
  {% block css %}
  <!-- Page specific css --> 
  <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
  {% endblock %} 
  
  <title>{% block title %}Home{% endblock %} | LetLive | A Digital Lifestyle Magazine</title>
</head>
<body>
  {% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">LetLive</a><!-- website url goes here-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% block menubar_links %}{% endblock %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="dropdown ml-md-4 nav-item">
       <!-- user avatar -->
       <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,50">
          {% if user.is_authenticated %}
            <!--img src="icons/close.png" -->
            <i class="fas fa-user"></i>
            {{ user.username }}
          {% else %}
            <i class="fas fa-user"></i>
          {% endif %}
        </button>
        {% if user.is_authenticated %}
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuOffset" style="max-width: 250px;">
          <p class="px-4 pt-4">
            Some example text that's free-flowing within the dropdown menu.
          </p>
          <div class="dropdown-divider border-primary"></div>
          <a class="dropdown-item" href="{% url 'home:user_profile' %}">
            <i class="fas fa-user"></i>
            Profile
          </a>
          <div class="dropdown-divider border-primary"></div>
          <a class="dropdown-item" href="{% url 'home:user_logout' %}">
            <i class="fas fa-sign-out-alt"></i>
            Logout
          </a>
        </div>
        {% else %}
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuOffset">
            <form class="px-4 py-3" method="post" action="{% url 'home:user_login' %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="loginDropdownFormName">Username</label>
                <input type="text" name="username" class="form-control" id="loginDropdownFormName" placeholder="username">
              </div>
              <div class="form-group">
                <label for="loginDropdownFormPassword">Password</label>
                <input type="password" name="password" class="form-control" id="loginDropdownFormPassword" placeholder="Password">
              </div>
              <div class="form-check">
                <input type="checkbox" name="keep_loged" class="form-check-input" id="loginDropdownCheck">
                <label class="form-check-label" for="loginDropdownCheck">
                  Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-primary my-1">Sign in</button>
            </form>
            <div class="dropdown-divider border-primary"></div>
            <a class="dropdown-item" href="{% url 'home:user_register' %}">New around here? Sign up</a>
            <a class="dropdown-item" href="#{% comment %} {% url 'home:password_reset' %}{% endcomment %}">Forgot password?</a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
  {% endblock %}

  <div id="content">
    {% block content %}{% endblock %}
  </div>
  
  <!-- JavaScript Files -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <!-- jQuery -->
  <script 
    src="{% static 'home/jquery/dist/jquery.slim.min.js' %}">
  </script>
  
  <!-- Popper.js -->
  <script 
    src="{% static 'home/popper.js/dist/umd/popper-utils.min.js' %}">
  </script>
  
  <!-- Bootstrap Js -->
  <script 
    src="{% static 'home/bootstrap/dist/js/bootstrap.min.js' %}">
  </script>
  
  {% block js %} 
  <!-- Page specific js -->
  <script 
    src="{% static 'home/js/script.js' %}">
  </script>
  {% endblock %} 
</body>
</html>
