<!-- Home/Index page template -->
{% extends "home/base.html" %}

{% block title %}Home{% endblock %}

{% block menubar_links %}
  {% load menu_bar %}
  {% menu_bar %}
{% endblock %}

{% block content %}
  {% for article in latest_articles_list %}
      <h2>{{ article.title }}</h2>
      <p><small>{{ article.publish_date_time }}</small></p>
      <a
        class="btn btn-primary btn-sm ml-auto"
        role="button"
        href="{% url 'home:article_view' article.id %}"
      />
        View Article
      </a>
      <hr>
  {% endfor %}
{% endblock %}
