{% extends "home/base.html" %}

{% block title %}User{% endblock %}

{% block menubar_links %}
  {% load has_perm %}

  <li class="nav-item">
    <a class="nav-link" href="{% url 'home:index' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home:topic_default' %}">Topics</a>
  </li>
  {% has_perm user 'home.add_article' as add_article %}
  {% if add_article %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home:article_default' %}">My Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home:article_new' %}">New Article</a>
    </li>
  {% endif %}

  {% has_perm user 'home.publish_article' as publish_article %}
  {% if publish_article %}
    <li class="nav-item">
      <a class="nav-link" href="#">Publish Articles</a>
    </li>
  {% endif %}

  {% has_perm user 'home.add_publisher' as add_publisher %}
  {% if add_publisher %}
    <li class="nav-item">
      <a class="nav-link" href="#">Add Publisher</a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container p-3">


  </div>
{% endblock %}
