<!--
Html Template for Users list. Displays a list of users

context:
{
  'publishers_list': 'Publishers users list',
  'authors_list': 'Authors users list'
  'page': 'page passed from urls.py',
}
-->

<!-- Display 'Author' users list  -->
{% if page == 'user_author' or page == 'user_default' %}
{% for user_detail in authors_list %}
    <h4>{{ user_detail }}</h4>
    <a
      class="btn btn-secondary btn-sm"
      role="button"
      href="{% url 'home:user_view' user_detail.user.id %}"
    >
      View Author
    </a>
    <hr>
{% endfor %}
{% endif %}

<!-- Display 'Publisher' users list -->
{% if page == 'user_publisher' or page == 'user_default' %}
{% for user_detail in publishers_list %}
    <h4>{{ user_detail }}</h4>
    <a
      class="btn btn-secondary btn-sm"
      role="button"
      href="{% url 'home:user_view' user_detail.user.id %}"
    >
      View Publisher
    </a>
    <hr>
{% endfor %}
{% endif %}
