<!--
Html Template for Users Page Master

context:
{
  'publishers_list': 'Publishers users list',
  'authors_list': 'Authors users list'
  'page': 'page passed from urls.py',
}
-->

<!-- Top Buttons -->
<div class="d-flex bd-highlight mb-3 p-3 border-bottom border-primary">
  <a
    class=" mr-2 btn {% if page == 'user_default' %}
      btn-primary
    {% else %}
      btn-secondary
    {% endif %}"
    role="button"
    href="{% url 'home:user_default' %}"
  >
    All
  </a>
  <a
    class="mr-2 btn {% if page == 'user_author' %}
      btn-primary
    {% else %}
      btn-secondary
    {% endif %}"
    role="button"
    href="{% url 'home:user_author' %}"
  >
    Authors
  </a>
  <a
    class="btn {% if page == 'user_publisher' %}
      btn-primary
    {% else %}
      btn-secondary
    {% endif %}"
    role="button"
    href="{% url 'home:user_publisher' %}"
  >
    Publishers
  </a>
  <a
    class="btn btn-primary ml-auto"
    role="button"
    href="{% url 'home:user_new' %}"
  >
    Add Publisher
  </a>
</div>
<!-- End Of Top Buttons -->

<!-- Display 'Author' users list  -->
{% if page == 'user_author' or page == 'user_default' %}
{% for user_detail in authors_list %}
    <h4>{{ user_detail.username }}</h4>
    <a
      class="btn btn-secondary btn-sm"
      role="button"
      href="{% url 'home:user_view' user_detail.id %}"
    >
      View Author
    </a>
    <hr>
{% endfor %}
{% endif %}

<!-- Display 'Publisher' users list -->
{% if page == 'user_publisher' or page == 'user_default' %}
{% for user_detail in publishers_list %}
    <h4>{{ user_detail.username }}</h4>
    <a
      class="btn btn-secondary btn-sm"
      role="button"
      href="{% url 'home:user_view' user_detail.id %}"
    >
      View Publisher
    </a>
    <hr>
{% endfor %}
{% endif %}
