{% extends "home/base.html" %}

{% block title %}User{% endblock %}

{% block menubar_links %}
  {% load menu_bar %}
  {% menu_bar %}
{% endblock %}

{% block content %}
  <div class="container p-3">

    {% if page == 'user_delete' %}
      {% include 'home/user_delete.html' %}
    {% elif users == 'list' or users == 'filter' %}
      {% include 'home/users_list.html' %}
    {% else %}

      {% if form.errors or error_string %}
        <div
          class="alert {% if form.errors %} alert-warning
            {% else %} alert-danger
          {% endif %}"
          role="alert"
        >
          {% if form.errors %}
            There were errors found:
            {{ form.non_field_errors }}
          {% else %}
            {{ error_string }}
          {% endif %}
        </div>
      {% endif %}

      <form action="{% url 'home:users_new' 'publisher' %}" method="post">
        {% csrf_token %}
        <table>
          {{ user_form.as_table }}
        </table>
        <button
          class="btn btn-primary"
          type="submit"
          name="button"
        >
          Create Publisher
        </button>
        <a
          class="btn btn-secondary"
          role="button"
          href="{% url 'home:users_default' %}"
        >
          Cancel
        </a>
      </form>
    {% endif %}

  </div>
{% endblock %}
