<!--
Html Template for new user form

context:
{
  'user_form': 'for the new user form errors'
  'error_string': 'Error to be displayed',
}
-->

{% if user_form.errors or error_string %}
  <!-- Form Alerts -->
  <div
    class="alert {% if user_form.errors %} alert-warning
      {% else %} alert-danger
    {% endif %}"
    role="alert"
  />
    {% if user_form.errors %}
      There were errors found:
      {{ user_form.non_field_errors }}
    {% else %}
      {{ error_string }}
    {% endif %}
  </div>
{% endif %}

<form action="{% url 'home:user_new' %}" method="post">
  {% csrf_token %}

  {% for field in user_form.visible_fields %}
    <div class="form-group">
      <label for="{{field.id_for_label}}">
        {{field.label.capitalize}}:
      </label>
      {{ field }}
      <small class="form-text text-muted">
        {{ field.help_text }}
      </small>
      <small class="form-text text-danger">
        {{ field.errors }}
      </small>
    </div>
  {% endfor %}
  
  <button
    class="btn btn-primary"
    type="submit"
    name="button"
  >
    Create Publisher
  </button>
  <a
    class="btn btn-secondary"
    role="button"
    href="{% url 'home:user_default' %}"
  >
    Cancel
  </a>
</form>
