#############################
# LetLive Pipy Requirements #
#############################
### Django framework
django>=2.1.2
#
### Django extensions
django-extensions
#
### Django REST framework
djangorestframework
#
### Django REST authentication framework
django-rest-auth[with_social]>=0.3.3
django-allauth
#
### Django model and db seeder with faker
django-seed
#
### Django filter queryset
django-filter
#
### Django generating secret key
djecrety
#
### Sphinx documentation
sphinx
sphinx-rtd-theme
recommonmark
#
### Required for Django managing files
Pillow
