<!--
Html Template for articles Page Master

context:
{
  'page': 'page passed from urls.py',
}
-->
{% extends "home/base.html" %}

{% block title %}Article{% endblock %}

{% block menubar_links %}
  {% load menu_bar %}
  {% menu_bar %}
{% endblock %}

{% block content %}

  <div class="container p-3">
    {% if page == 'article_view' %}
      {% include 'home/article_templates/article_view.html' %}
    {% elif page == 'article_new' or page == 'article_edit' %}
      {% include 'home/article_templates/article_form.html' %}
    {% elif page == 'article_delete' or page == 'article_publish' %}
      {% include 'home/article_templates/article_confirmation.html' %}
    {% endif %}
  </div>

{% endblock %}

{% if page == 'article_new' or page == 'article_edit' %}
{% block js %}
  {{ block.super }}
  
  <!-- TinyMCE js -->
  {% load static %}
  <!-- using local -->  
  <script src="{% static 'home/tinymce/tinymce.min.js' %}"></script>

  <!-- confirm leave page -->
  <script type= text/javascript>
  $(document).ready(function(){
    tinymce.init({
      selector:'textarea',
      plugins : 'advlist autolink link image lists charmap print preview'
    });
    
    var bind_confirm = (event) => {
      $(window).bind('beforeunload', function (event) {
        event.preventDefault();
      });
    };
    
    var unbind_confirm = (event) => {
      $(window).unbind('beforeunload');
    };

    $('#save-btn').click(function (e) {
      unbind_confirm(e);
      $('#new-article-form').submit();
    });
  
    $('#new-article-form').change(function (e) {
      bind_confirm(e);
    });      
    
    // Create an observer instance linked to the callback function
    var changes = 0;      // The first 3 changes are for init tinymce
    var observer = new MutationObserver(function (e) {
      changes++;
      if(changes > 3) {
        bind_confirm(e);
      }
    });
    
    // Select the node that will be observed for mutations
    var targetNode = document.getElementById('content-div');

    // Options for the observer (which mutations to observe)
    var config = { 
      attributes: true, 
      childList: true, 
      subtree: true 
    };
    
    // Start observing the target node for configured mutations
    observer.observe(targetNode, config);
  });
  </script>
{% endblock %}
{% endif %}
