<!--
Html template to edit user. Displays user forms

context:
{
  'user_form': 'User model form',
  'admin_form': 'admin form',
  'author_form': 'author form',
  'subscriber_form': 'subscriber form',
  'error_string': 'Error to be displayed',
}
-->
{% if error_string %}
  <!-- display error string -->
  <div class="alert alert-danger role="alert" >
    {{ error_string }}
  </div>
{% endif %}

{% if form_profile.errors or user_form.errors %}
  <!-- Form Alerts -->
  <div class="alert alert-warning role="alert" >
    There were errors found:
    {% if form_profile.errors %}
      {{ form_profile.non_field_errors }}
    {% endif %}
    
    {% if user_form.errors %}
      {{ user_form.non_field_errors }}
    {% endif %}
  </div>
{% endif %}
  
<form 
  action="{% url 'home:user_profile_edit' %}" 
  method="post"
  enctype=multipart/form-data
>
  {% csrf_token %}

  <!-- User Model Attributes -->
  {% for field in user_form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      <small class="form-text text-danger">
        {{ field.errors }}
      </small>
    </div>
  {% endfor %}

  <!-- User Avator -->
  <div class="custom-file mt-2 mb-3">
    <input
      type="file"
      class="custom-file-input"
      id="{{ form_profile.avatar.id_for_label }}"
      name="{{ form_profile.avatar.html_name }}"
    >
    <label 
      class="custom-file-label" 
      for="{{ form_profile.avatar.id_for_label }}"
    >
      Choose {{ form_profile.avatar.name.capitalize }}
    </label>
  </div>
  
  <!-- admin form -->
  {% for field in admin_form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      <small class="form-text text-danger">
        {{ field.errors }}
      </small>
    </div>
  {% endfor %}
  
  <!-- author form -->
  {% for field in author_form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      <small class="form-text text-danger">
        {{ field.errors }}
      </small>
    </div>
  {% endfor %}
  
  <!-- subscriber form -->
  {% for field in subscriber_form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      <small class="form-text text-danger">
        {{ field.errors }}
      </small>
    </div>
  {% endfor %}

  <!-- Buttons -->
  <div class="p-3 border-top border-primary">
    <button type="submit" class="btn btn-primary">
      Save
    </button>
    <a
      class="btn btn-secondary"
      role="button"
      href="{% url 'home:user_profile' %}"
    >
      Cancel
    </a>
  </div>

</form>
