<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>LetLive | Password Reset Link</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0 " />
<style>
<!--- CSS code (if any) --->
</style>
</head>

<body>

{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
<br />
{% trans "Please go to the following page and choose a new password:" %} <br />
{% block reset_link %}

<a href="{{ protocol }}://{{ domain }}{% url 'home:password_reset_confirm' uidb64=uid token=token %}">
{{ protocol }}://{{ domain }}{% url 'home:password_reset_confirm' uidb64=uid token=token %}
</a>
<br />

{% endblock %}
{% trans 'Your username, in case you’ve forgotten:' %} {{ user.get_username }} <br />

{% trans "Thanks for using our site!" %} <br />

{% blocktrans %}The {{ site_name }} team{% endblocktrans %} <br />

{% endautoescape %}

</body>
</html> 
