<!--
Html template for password reset
replaces registration/password_reset_form.html
-->
{% extends "home/base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
  <div class="container p-3 d-flex">

    <div class="mx-auto mt-5 border shadow p-3">
      <h1 class="border-bottom border-primary text-primary p-2">Password Reset</h1>

      <p class="p-2">
        Forgotten your password? 
        Enter your email address below, 
        and we'll email instructions for setting a new one.
      </p>
      
      <form class="px-4 py-3" method="post">
        {% csrf_token %}

        {{ form }}

        <button type="submit" class="btn btn-primary my-2">Reset my password</button>
      </form>
      
    </div>

  </div>
{% endblock %}
